<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @caregiveremail.first_name %> <%= @caregiveremail.last_name %></h1>
    <p>
      Hello there! You have a new booking request. Please respond within the next 24 hours.
      Please visit <a href= "https://www.youtube.com/watch?v=_IQUrR2qkj4">Our site</a> to register for a caregiver.
      <%= @url %>
    </p>
  </body>
</html>
