<h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1>
  Hello there! Thank you for booking a caregiver through SilverCare. You will receive a response from your caregiver within the next 24 hours.
