<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> <%= @user.last_name %></h1>
    <p>
      Hello there! Thank you for signing up with SilverCare.
      Please visit <%= @url %> to register for a caregiver.
      <%= @url %>
    </p>
  </body>
</html>
