<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Years of experience</th>
      <th>Expertise</th>
      <th>Languages Spoken</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @caregivers.each do |caregiver| %>
      <td><%= @caregiver.name %></td>
      <td><%= @caregiver.yearsofexperience %></td>
      <td><%= @caregiver.specialties%></td>
      <td><%= @caregiver.languages %></td>
    </tr>
      <% end %>
  </tbody>
</table>
