<h1>Hi there care giver</h1>
<center><button type = "button" class = "btn btn-default"><%= link_to 'Join Us', new_caregiver_path %></button></center>

<p>
</p>
<p></p>
<p>If you're looking to make a difference to patients, Silver Home Care gives you the freedom to control when you work at where you want.</p>
>>>>>>> f67a4406ff1eaa0fade3f6bc6fce703c922592d7

<p>Click the join button now find out more.</p>

<br>

<p>Interested to make a career switch to become a full-time or part-time caregiver? Check out <a href="https://www.moh.gov.sg/content/moh_web/healthprofessionalsportal/nurses/career_practice/nursing_trainingandeducation.html">here</a></p>
