<h3> List of all previous transactions </h3>


<table>
  <thead>
    <tr>
      <th>Name of caregiver</th>
      <th>Patient Name</th>
      <th>Start date of booking</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
  </tbody>
</table>
