<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Getting Started", new_fammember_path %></li>
        <li><%= link_to "Sign In", login_path %></li>
        <li><%= link_to "I am a caregiver", caregivers_path %></li>
      </ul>
    </nav>
  </div>
</header>
